a.icon {
  font-size: 18px !important;
}

.card {
  height: 100%;
}

.ripple {
  height: 200px;
  overflow: hidden;
}

.card-equal-height {
  display: flex;
  flex-direction: column;
}

.card-equal-height .card-body {
  flex-grow: 1;
}