html{
    margin: 0;
    padding: 0;
    width: 100%;
}
a.icon{
    font-size: 18px !important;
}

.wrapper-outer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(160, 207, 238);
}

.wrapper-inner {
    padding: 24px;
    border-radius: 10px;
    background-color: #ffff;
    color: black;
}

.container h1{
    text-align: center;
    border-bottom: 3px solid black
}

.form .form-group {
    display: flex;
    margin-bottom: 8px;
}

.form-group label {
    width: 25%;
    
}

.form-group .input {
    width: 60%;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.button-group input {
    margin: 0 4px;
}